body
{
    padding-top: 70px;
}

.container-full
{
    margin-left: 40px;
    margin-right: 40px;
}

#main_user_avatar
{
    height: 40px;
    width: 40px;
}

#main_user_dropdown
{
    padding: 4px;
}

.navbar
{
    background: #4caf50;
}
    .navbar-default .navbar-brand
    {
        color:#0f0f0f;
    }
    .navbar-default .navbar-brand:hover
    {
        color:#0f0f0f;
        background: #81c784;
    }
    .navbar .nav > li > a
    {
        color:#0f0f0f;
    }

    .navbar .nav > li > a:hover
    {
        color:#0f0f0f;
        background: #81c784;
    }

    .navbar .nav > li > a:active
    {
        color:#0f0f0f;
    }

        .navbar .nav > li > ul, .navbar .nav > li > ul > li
        {
            background: #81c784;
            color:#0f0f0f;
        }
    .navbar .nav > li > ul > li
    {
        background: #81c784;
        color:#0f0f0f;
    }

    .nav > li > a
    {
        color: #4caf50;
    }

.form-control
{
    border-radius: 0;
}

.form-control:focus
{
    border-color: #4caf50;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(30, 69, 31, 0.6);
}

.btn:hover
{

    border-color: #4caf50;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.030), 0 0 8px rgba(30, 69, 31, 0.6);
}




article.tabs
{
    position: relative;
    display: block;
    width: 100%;
    height: 15em;
    margin: 2em auto;
}
article.tabs > section
{
    position: absolute;
    display: block;
    top: 1.8em;
    left: 0;
    background-color: #ddd;
    border: 1px solid #d0d0d0;
    z-index: 0;
    visibility: hidden;
}
article.tabs > section:first-child
{
    z-index: 1;
}
article.tabs > section > h2
{
    position: absolute;
    font-size: 1em;
    font-weight: normal;
    width: 120px;
    height: 1.8em;
    top: -1.8em;
    left: 10px;
    padding: 0;
    margin: 0;
    color: #999;
    background-color: #ddd;
    visibility: visible;
}
article.tabs > section:nth-child(2) h2
{
    left: 132px;
}
article.tabs > section > h2 > a
{
    display: block;
    width: 100%;
    line-height: 1.8em;
    text-align: center;
    text-decoration: none;
    color: inherit;
    outline: 0 none;
}
article.tabs section:target
{
    color:#0f0f0f;
    background-color: white;
    z-index: 2;
    width: 100%;
    min-height: 500px;
    visibility: visible;
}
article.tabs section:target h2
{
    color:#0f0f0f;
    background-color: #4caf50;
    z-index: 2;
    visibility: visible;
}
#chart_container
{
    width: 100%;
    height: 100%;
    padding-right: 10px;
}
#statistika_container
{
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

#mesec_container
{
    align-content: center;
    margin-top: 8px;
}

#mesec_levo
{
    float: right;
    border-radius: 0;
}

#mesec_desno
{
    float: left;
    border-radius: 0;
}

#datepicker > span:hover
{
    cursor: pointer;
    border-color: #4caf50;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.030), 0 0 8px rgba(30, 69, 31, 0.6);

}
#datepicker > input:hover
{
    border-color: #4caf50;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.030), 0 0 8px rgba(30, 69, 31, 0.6);
}

#datepicker,
#datepicker > span,
#datepicker > input
{
    border-radius: 0;
}

.datepicker > .datepicker-months > table > tbody > tr > td >span.active:hover,
.datepicker > .datepicker-months > table > tbody > tr > td > span.active:active,
.datepicker > .datepicker-months > table > tbody > tr > td > span.active.active,
.datepicker > .datepicker-months > table > tbody > tr > td > span.active.disabled,
.datepicker > .datepicker-months > table > tbody > tr > td > span.active[disabled]
{
    background: #4caf50;

}

.datepicker > .datepicker-months > table > tbody > tr > td >span:hover
{
    border: 1px solid #4caf50;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.030), 0 0 8px rgba(30, 69, 31, 0.6);

}

.datepicker,
.datepicker > .datepicker-months > table > tbody > tr > td > span,
.datepicker > .datepicker-months > table > thead > tr > th

{
    border-radius: 0;
}

#left_filters
{
    padding : 8px;
}

.header-fixed > tbody
{
    overflow-y: auto;
    height: 100%;
}

.statistika_titles
{
    text-align: right;
    font-weight: bold;
}
.statistika-maintitle
{
    font-weight: bold;
}
.table-statistika
{
    font-size: large;
    width: 80%;
    align: center;
}
.statistika_stevilke
{
    font-size: x-large;
    text-align: right;
}
.tr-withborder
{
    border: 1px solid #d0d0d0;
}
.tr-withborder > td
{
    padding: 2px;
}
.line
{
    border-top: 1px solid #d0d0d0;
}
.space
{
    padding: 4px;
}

#cilji_seznam
{
    font-size: medium;
}
#cilji_seznam > li
{
    display: block
}
li.dosezeni
{
    font-weight: bold;
}
li.dosezeni:before
{
    content: "";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 2px;
    margin-left: -17px;
    color: #4caf50;
}
li.nedosezeni:before
{
    content: "";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 2px;
    margin-left: -17px;
    color: #f44336;
}


.prihodek
{
    background-color: #e8f5e9;
}
.odhodek
{
    background-color: #ffebee;
}
.zalozeno
{
    background-color: #fffde7;
}

.img-tabela
{
    height: 24px;
    width: 24px;
    float: right;
}
.user-tabela
{
    text-align: center;
    padding: 1px !important;
    vertical-align: middle !important;
}
.btn-user
{
    padding: 2px 6px 2px 4px;
    height: 30px;
    color:#0f0f0f;
}
.btn-user:hover
{
    border: 1px solid #4caf50;
    text-decoration: none;
    color:#4caf50;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.030), 0 0 8px rgba(30, 69, 31, 0.6);
}

#dodaj_vnos
{
    margin-right: 20px;
}

.btn > .glyphicon
{
    font-size: 18px;

}








