body
{
    padding-top: 70px;
}

#main_user_avatar
{
    height: 40px;
    width: 40px;
}

#main_user_dropdown
{
    padding: 4px;
}

.navbar
{
    background: #4caf50;
}
    .navbar-default .navbar-brand
    {
        color:#0f0f0f;
    }
    .navbar-default .navbar-brand:hover
    {
        color:#0f0f0f;
        background: #81c784;
    }
    .navbar .nav > li > a
    {
        color:#0f0f0f;
    }

    .navbar .nav > li > a:hover
    {
        color:#0f0f0f;
        background: #81c784;
    }

    .navbar .nav > li > a:active
    {
        color:#0f0f0f;
    }

        .navbar .nav > li > ul, .navbar .nav > li > ul > li
        {
            background: #81c784;
            color:#0f0f0f;
        }
    .navbar .nav > li > ul > li
    {
        background: #81c784;
        color:#0f0f0f;
    }


.tab-content {
    display: none;
}
.tab-content:target {
    display: block;
}

.form-control
{
    border-radius: 0;
}

.form-control:focus
{
    border-color: #4caf50;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(30, 69, 31, 0.6);
}

.btn:hover
{

    border-color: #4caf50;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.030), 0 0 8px rgba(30, 69, 31, 0.6);
}


.nav > li > a
{
    color: #4caf50;
}

#chart_container
{
    width: 100%;
    height: 100%;
}

.container-full
{
    margin-left: 40px;
    margin-right: 40px;
}

#mesec_container
{
    align-content: center;
}

#mesec_levo
{
    float: right;
    border-radius: 0;
}

#mesec_desno
{
    float: left;
    border-radius: 0;
}

#datepicker > span:hover
{
    cursor: pointer;
    border-color: #4caf50;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.030), 0 0 8px rgba(30, 69, 31, 0.6);

}
#datepicker > input:hover
{
    border-color: #4caf50;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.030), 0 0 8px rgba(30, 69, 31, 0.6);

}

#datepicker,
#datepicker > span,
#datepicker > input
{
    border-radius: 0;
}

.datepicker > .datepicker-months > table > tbody > tr > td >span.active:hover,
.datepicker > .datepicker-months > table > tbody > tr > td > span.active:active,
.datepicker > .datepicker-months > table > tbody > tr > td > span.active.active,
.datepicker > .datepicker-months > table > tbody > tr > td > span.active.disabled,
.datepicker > .datepicker-months > table > tbody > tr > td > span.active[disabled]
{
    background: #4caf50;

}

.datepicker > .datepicker-months > table > tbody > tr > td >span:hover
{
    border-color: #4caf50;
    border-width: 1px;
    border-style: solid;

    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.030), 0 0 8px rgba(30, 69, 31, 0.6);

}

.datepicker,
.datepicker > .datepicker-months > table > tbody > tr > td > span,
.datepicker > .datepicker-months > table > thead > tr > th

{
    border-radius: 0;
}

#left_filters
{
    padding : 8px;
}

#search_container,
#search_container > input,
#search_container > button,
{
    float: right;
}

.header-fixed > tbody
{
    overflow-y: auto;
    height: 100%;
}

#canvas_container
{
    border: 1px solid #d0d0d0;
}
#statistika_container
{
    border: 1px solid #d0d0d0;
    padding-left: 24px;
}
#statistika_title_t
{
    text-align: right;
}
.table-statistika
{
    font-size: large;
    width: 80%;
    align: center;
}

.statistika_titles
{
    font-weight: bold;
}

.statistika_stevilke
{
    font-size: x-large;
    text-align: right;
}

.line
{
    border-top: 1px solid #d0d0d0;
}

#cilji_seznam
{
    font-size: medium;
}

#cilji_seznam > li
{
    display: block
}

li.dosezeni
{
    font-weight: bold;
}

li.dosezeni:before
{
    content: "";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 2px;
    margin-left: -17px;
    color: #4caf50;
}
li.nedosezeni:before
{
    content: "";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    float: left;
    margin-top: 2px;
    margin-left: -17px;
    color: #f44336;
}








