body
{
    padding-top: 70px;
}

#main_user_avatar
{
    height: 40px;
    width: 40px;
}

#main_user_dropdown
{
    padding: 4px;
}

.navbar
{
    background: #4caf50;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter
{
    color: black;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter
{
    color: black;
    background: #81c784;
}

.navbar .nav > a
{
    color:black;
}



